#set($layout="layout/main.vm")
<!-- bootstrap-daterangepicker -->
<link
	href="${rc.contextPath}/static/vendors/bootstrap-daterangepicker/daterangepicker.css"
	rel="stylesheet">
		<link href="${rc.contextPath}/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="${rc.contextPath}/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="${rc.contextPath}/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3 style="color: green;">【月度】数据录入</h3>
		</div>

	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-12">
			<div class="x_panel">
				<div class="x_content">
					<div class="" role="tabpanel" data-example-id="togglable-tabs">
						<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
							<li role="presentation" class="active"><a
								href="#tab_content1" id="home-tab" role="tab" data-toggle="tab"
								aria-expanded="true">单品牌录入</a></li>
							<li role="presentation" class=""><a href="#tab_content2"
								role="tab" id="profile-tab" data-toggle="tab"
								aria-expanded="false">项目录入</a></li>
						</ul>
						<div id="myTabContent" class="tab-content">
							<div role="tabpanel" class="tab-pane fade active in"
								id="tab_content1" aria-labelledby="home-tab">
								<div class="x_content">
									<br />
									<form id="brandEnter" data-parsley-validate
										class="form-horizontal form-label-left">

										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="salesMonth">月份
											</label>
											<div class="col-md-2 col-sm-6 col-xs-12">
												<select id="salesMonth" class="form-control">
														<option>请选择</option>
														<option value="1">一月</option>
														<option value="2">二月</option>
														<option value="3">三月</option>
														<option value="4">四月</option>
														<option value="5">五月</option>
														<option value="6">六月</option>
														<option value="7">七月</option>
														<option value="8">八月</option>
														<option value="9">九月</option>
														<option value="10">十月</option>
														<option value="11">十一月</option>
														<option value="12">十二月</option>
													</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="brandName">品牌名称
											</label>
											<div class="col-md-2 col-sm-6 col-xs-12">
												<input type="text" id="brandName" name="brandName"
													required="required" class="form-control col-md-7 col-xs-12">
													<input id="brandId" type="hidden" name="brandId" value=""/>
											</div>
												<p class="help-block">品牌名称或者铺位号输入一个即可</p>
										</div>
										<div class="form-group">
											<label for="poiNum"
												class="control-label col-md-3 col-sm-3 col-xs-12">铺位号</label>
											<div class="col-md-2 col-sm-4 col-xs-10">
												<input id="poiNum"
													class="form-control col-md-7 col-xs-12" type="text"
													name="poiNum" readonly="readonly">
											</div>
											<div class="col-md-3 col-sm-3 col-xs-3">
												<button id="cho" type="button" class="btn btn-success">选择铺位号</button>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="salesAmount">单月销售额
											</label>
											<div class="col-md-2 col-sm-6 col-xs-12">
												<input type="text" id="salesAmount" name="salesAmount"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
											<p class="help-block">单位：元</p>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="salesTimes">单月销售笔数
											</label>
											<div class="col-md-2 col-sm-6 col-xs-12">
												<input type="text" id="salesTimes" name="salesTimes"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
											<p class="help-block">单位：笔</p>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="salesVolume">单月销售件数
											</label>
											<div class="col-md-2 col-sm-6 col-xs-12">
												<input type="text" id="salesVolume" name="salesVolume"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
											<p class="help-block">单位：件</p>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="customerVolume">单月进店客流
											</label>
											<div class="col-md-2 col-sm-6 col-xs-12">
												<input type="text" id="customerVolume" name="customerVolume"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
											<p class="help-block">单位：人次</p>
										</div>
										<br> <br>
										<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
											<button id="brandSubmit" type="button" class="btn btn-primary  btn-lg"
												>提交并录入</button>
											<button type="rest" class="btn btn-success  btn-lg">重置</button>
										</div>
									</form>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="tab_content2"
								aria-labelledby="profile-tab">
								<div class="x_content">
									<br />
									<form id="mallEnter" data-parsley-validate
										class="form-horizontal form-label-left">
										<div class="form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="salesMonth2">月份
											</label>
											<div class="col-md-2 col-sm-6 col-xs-12">
												<select id="salesMonth2" class="form-control">
														<option>请选择</option>
														<option value="1">一月</option>
														<option value="2">二月</option>
														<option value="3">三月</option>
														<option value="4">四月</option>
														<option value="5">五月</option>
														<option value="6">六月</option>
														<option value="7">七月</option>
														<option value="8">八月</option>
														<option value="9">九月</option>
														<option value="10">十月</option>
														<option value="11">十一月</option>
														<option value="12">十二月</option>
													</select>
											</div>
												<label
													class="control-label col-md-1 col-sm-3 col-xs-12 left">天气</label>
												<div class="col-md-2 col-sm-3 col-xs-1">
													<select id="weather" class="form-control">
														<option value="">请选择</option>
														<option value="1">晴朗</option>
														<option value="2">降雨</option>
														<option value="3">雾霾</option>
														<option value="4">低温</option>
													</select>
												</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="mallName">项目名称
											</label>
											<div class="col-md-2 col-sm-6 col-xs-12">
											<input id="mallName"
													class="form-control col-md-7 col-xs-12" type="text"
													name="mallName" readonly="readonly" value="$!{mall.proName}">
													<input id="mallId" type="hidden" name="mallId" value="$!{mall.id}"/>
											</div>
										</div>
										<div class="form-group">
											<label for="salesAmount2"
												class="control-label col-md-3 col-sm-3 col-xs-12">单月销售额</label>
											<div class="col-md-2 col-sm-6 col-xs-12">
												<input id="salesAmount2"
													class="form-control col-md-7 col-xs-12" type="text"
													name="salesAmount2">
											</div>
											<p class="help-block">单位：元</p>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="salesCount2">单月销售笔数
											</label>
											<div class="col-md-2 col-sm-6 col-xs-12">
												<input type="text" id="salesCount2" name="salesCount2"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
											<p class="help-block">单位：笔</p>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="salesVolume2">单月销售件数
											</label>
											<div class="col-md-2 col-sm-6 col-xs-12">
												<input type="text" id="salesVolume2" name="salesVolume2"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
											<p class="help-block">单位：件</p>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="customerVolume2">单月进店客流
											</label>
											<div class="col-md-2 col-sm-6 col-xs-12">
												<input type="text" id="customerVolume2" name="customerVolume2"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
											<p class="help-block">单位：人</p>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="carVolume">单月车流
											</label>
											<div class="col-md-2 col-sm-6 col-xs-12">
												<input type="text" id="carVolume" name="carVolume"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
											<p class="help-block">单位：辆</p>
										</div>
										<br>
										<br>
										<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
											<button id="mallSubmit" type="button" class="btn btn-primary  btn-lg"
												>提交并录入</button>
											<button type="rest" class="btn btn-success  btn-lg">重置</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
													&times;
												</button>
												<h4 class="modal-title" id="myModalLabel">
													选择品牌
												</h4>
											</div>
											<div class="modal-body">
												<table class="table">
													<thead>
														<tr>
															<th>#</th>
															<th>品牌名</th>
															<th>铺位号</th>
															<th>楼层</th>
															<th>选择</th>
														</tr>
													</thead>
													<tbody id="datatable">
													</tbody>
												</table>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">关闭
												</button>
											</div>
										</div><!-- /.modal-content -->
									</div><!-- /.modal -->
<script src="${rc.contextPath}/static/vendors/moment/min/moment.min.js"></script>
<script
	src="${rc.contextPath}/static/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap-daterangepicker -->
<script>
		function cho(id,name,poi){
			$("#brandId").val(id);
			$("#brandName").val(name);
			$("#poiNum").val(poi);
			$('#myModal').modal('hide');
		}
	$(document).ready(function() {
		$('#birthday').daterangepicker({
			singleDatePicker : true,
			calender_style : "picker_4"
		}, function(start, end, label) {
			console.log(start.toISOString(), end.toISOString(), label);
		});
		$('#birthday2').daterangepicker({
			singleDatePicker : true,
			calender_style : "picker_4"
		}, function(start, end, label) {
			console.log(start.toISOString(), end.toISOString(), label);
		});
		$("#cho").click(function(){
			$.post("${rc.contextPath}/base_data/brand_data_List", 
			 function(data, status) {
				if(data!=null){
					var rows=$("#datatable").find("tr").length;
					if(rows==0){
						for(var i=0;i<data.length;i++){
							var brand=data[i];
							var row="<tr><td>"+(i+1)+"</td><td>"+brand.brandName+"</td><td>"+brand.poiNum+"</td><td>"+brand.floor+"</td><td><button onclick=\"cho('"+brand.id+"','"+brand.brandName+"','"+brand.poiNum+"')\">选择</button></td></tr>"
							$('#datatable').append(row);
						}
					}
					$('#myModal').modal('show');
				}
			});
			
		});
		
		$("#brandSubmit").click(function(){
			var salesMonth=$("#salesMonth").val();
			var brandName=$("#brandName").val();
			var salesAmount=$("#salesAmount").val();
			var salesVolume=$("#salesVolume").val();
			var salesTimes=$("#salesTimes").val();
			var customerVolume=$("#customerVolume").val();
			var brandId=$("#brandId").val();
			var poiNum=$("#brandId").val();
			var salesDate=new Date();
			salesDate.setMonth(parseInt(salesMonth)-1);
			$.post("${rc.contextPath}/data_enter/monthly_data_enter_save", {
				salesMonth : salesDate,
				salesAmount : salesAmount,
				salesVolume : salesVolume,
				salesTimes : salesTimes,
				customerVolume : customerVolume,
				brandId:brandId,
				poiNum:poiNum,
				brandName : brandName
			}, function(data, status) {
				if(data){
					new PNotify({
	                  title: '录入成功',
	                  text: '<p>品牌：'+brandName+'</p>',
	                  type: 'success',
	                  styling: 'bootstrap3'
	              });
				}else{
				new PNotify({
	                  title: '录入失败',
	                  text: '<p>品牌：'+brandName+'</p>',
	                  type: 'error',
	                  styling: 'bootstrap3'
	              });
				}
				
				document.getElementById("brandEnter").reset();
			});
		});
		
		
		$("#mallSubmit").click(function(){
			var salesMonth=$("#salesMonth2").val();
			var mallName=$("#mallName").val();
			var salesAmount=$("#salesAmount2").val();
			var salesVolume=$("#salesVolume2").val();
			var salesTimes=$("#salesCount2").val();
			var customerVolume=$("#customerVolume2").val();
			var carVolume=$("#carVolume").val();
			var weather=$("#weather").val();
			var mallId=$("#mallId").val();
			var salesDate=new Date();
			salesDate.setMonth(parseInt(salesMonth)-1);
			$.post("${rc.contextPath}/data_enter/monthly_data_enter_mall", {
				salesMonth : salesDate,
				salesAmount : salesAmount,
				salesVolume : salesVolume,
				salesTimes : salesTimes,
				customerVolume : customerVolume,
				carVolume : carVolume,
				mallId : mallId,
				weather : weather
			}, function(data, status) {
				if(data){
					new PNotify({
	                  title: '录入成功',
	                  text: '<p>项目：'+mallName+'</p>',
	                  type: 'success',
	                  styling: 'bootstrap3'
	              });
				}else{
				new PNotify({
	                  title: '录入失败',
	                  text: '<p>项目：'+mallName+'</p>',
	                  type: 'error',
	                  styling: 'bootstrap3'
	              });
				}
				
				document.getElementById("mallEnter").reset();
			});
		});
	});
</script>
<!-- /bootstrap-daterangepicker -->
    <script src="${rc.contextPath}/static/vendors/pnotify/dist/pnotify.js"></script>
    <script src="${rc.contextPath}/static/vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="${rc.contextPath}/static/vendors/pnotify/dist/pnotify.nonblock.js"></script>