#set($layout="layout/main.vm")
<link
	href="${rc.contextPath}/static/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css"
	rel="stylesheet">
<link
	href="${rc.contextPath}/static/vendors/iCheck/skins/flat/green.css"
	rel="stylesheet">
<link
	href="${rc.contextPath}/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css"
	rel="stylesheet">
<link
	href="${rc.contextPath}/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css"
	rel="stylesheet">
<link
	href="${rc.contextPath}/static/vendors/bootstrap-daterangepicker/daterangepicker.css"
	rel="stylesheet">
<!-- top tiles -->
<div class="page-title">
	<div class="title_left">
		<h3 style="color: green;">
			周报分析<small>本周是第52周：12月5日 - 12月12日</small>
		</h3>
	</div>

</div>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="dashboard_graph">
			<div class="col-md-12 col-sm-9 col-xs-12">
				<div class="" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
						<li role="presentation" class="active"><a
							href="#tab_content1" id="home-tab" role="tab" data-toggle="tab"
							aria-expanded="true">项目</a></li>
						<li role="presentation" class=""><a href="#tab_content2"
							role="tab" id="profile-tab" data-toggle="tab"
							aria-expanded="false">品牌</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade active in"
							id="tab_content1" aria-labelledby="home-tab">
							<div class="row">
								<form id="demo-form2" data-parsley-validate
									class="form-horizontal form-label-left">
									<div class="form-group">
										<label class="control-label col-md-1 col-sm-3 col-xs-12 left">请选择周数</label>
										<div class="col-md-2 col-sm-3 col-xs-1">
											<select class="form-control">
												<option>请选择</option>
												<option>晴朗</option>
												<option>降雨</option>
												<option>雾霾</option>
												<option>低温</option>
											</select>
										</div>
									</div>
								</form>
								<h5 style="color: green;">走势图分析</h5>
								<div class="ln_solid"></div>
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="dashboard_graph x_panel">
										<div class="row x_title">
											<div class="col-md-6">
												<h4>
													周销售&客流走势图<small>第52周</small>
												</h4>
											</div>
										</div>
										<div class="x_content">
											<div class="demo-container" style="height: 250px">
												<div id="placeholder3xx3" class="demo-placeholder"
													style="width: 100%; height: 250px;"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="tab_content2"
							aria-labelledby="profile-tab">
							<!-- start of user-activity-graph -->
							<div id="graph_bar" style="width: 100%; height: 280px;"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
	<div class="clearfix"></div>
	<br>
	<br>
	<br>
	<h5 style="color: green;">汇总数据</h5>
	<div class="ln_solid"></div>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="col-md-10 col-sm-6 col-xs-6">
			<div class="row tile_count">
				<div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
					<span class="count_top"><i class="fa fa-user"></i> 年销售额（万）</span>
					<div class="count">2500</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
					<span class="count_top"><i class="fa fa-clock-o"></i>月均销售额</span>
					<div class="count">123.50</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
					<span class="count_top"><i class="fa fa-user"></i> 平均日均（万元）</span>
					<div class="count green">2,500</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
					<span class="count_top"><i class="fa fa-user"></i> 周末日均（万元）</span>
					<div class="count">4,567</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
					<span class="count_top"><i class="fa fa-user"></i> 节日日均（万元）</span>
					<div class="count">2,315</div>
				</div>
			</div>
			<div class="row tile_count">
				<div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
					<span class="count_top"><i class="fa fa-user"></i> 年客流量（万人次）</span>
					<div class="count">7,325</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
					<span class="count_top"><i class="fa fa-user"></i>
						月均客流量（万人次）</span>
					<div class="count">7,325</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
					<span class="count_top"><i class="fa fa-user"></i> 平均日均（万元）</span>
					<div class="count">7,325</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
					<span class="count_top"><i class="fa fa-user"></i> 周末日均（万元）</span>
					<div class="count">7,325</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
					<span class="count_top"><i class="fa fa-user"></i> 节日日均（万元）</span>
					<div class="count">7,325</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<h5 style="color: green;">柱状图分析</h5>
	<div class="ln_solid"></div>
	<div class="col-md-12">
		<div class="" role="tabpanel" data-example-id="togglable-tabs">
			<ul id="myTab2" class="nav nav-tabs bar_tabs" role="tablist">
				<li role="presentation" class="active"><a href="#content1"
					id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">销售额</a></li>
				<li role="presentation" class=""><a href="#content2" role="tab"
					id="profile-tab" data-toggle="tab" aria-expanded="false">客流</a></li>
				<li role="presentation" class=""><a href="#content3" role="tab"
					id="profile-tab2" data-toggle="tab" aria-expanded="false">客单价</a></li>
				<li role="presentation" class=""><a href="#content4" role="tab"
					id="profile-tab2" data-toggle="tab" aria-expanded="false">成交率</a></li>
				<li role="presentation" class=""><a href="#content5" role="tab"
					id="profile-tab2" data-toggle="tab" aria-expanded="false">7日去年销售同比</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div role="tabpanel" class="tab-pane fade active in" id="content1"
					aria-labelledby="home-tab">
					<div id="graph_bar1" style="width: 100%; height: 280px;"></div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="content2"
					aria-labelledby="profile-tab">
					<!-- start of user-activity-graph -->
					<div id="graph_bar2" style="width: 100%; height: 280px;"></div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="content3"
					aria-labelledby="profile-tab">
					<div id="graph_bar3" style="width: 100%; height: 280px;"></div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="content4"
					aria-labelledby="profile-tab">
					<div id="graph_bar4" style="width: 100%; height: 280px;"></div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="content5"
					aria-labelledby="profile-tab">
					<div id="graph_bar5" style="width: 100%; height: 280px;"></div>
				</div>
			</div>
		</div>
	</div>

</div>
<script
	src="${rc.contextPath}/static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- gauge.js -->
<script
	src="${rc.contextPath}/static/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- iCheck -->
<script src="${rc.contextPath}/static/vendors/iCheck/icheck.min.js"></script>

<script src="${rc.contextPath}/static/vendors/Flot/jquery.flot.js"></script>
<script src="${rc.contextPath}/static/vendors/Flot/jquery.flot.time.js"></script>
<!--     <script src="${rc.contextPath}/static/vendors/Flot/jquery.flot.pie.js"></script> -->
<!--     <script src="${rc.contextPath}/static/vendors/Flot/jquery.flot.stack.js"></script> -->
<script
	src="${rc.contextPath}/static/vendors/Flot/jquery.flot.resize.js"></script>

<script
	src="${rc.contextPath}/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<!--     <script src="${rc.contextPath}/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script> -->
<!--     <script src="${rc.contextPath}/static/vendors/flot.curvedlines/curvedLines.js"></script> -->
<script>
	$(document).ready(
			function() {
				//random data
				var d1 = [ [ 0, 4 ], [ 1, 9 ], [ 2, 6 ], [ 3, 10 ], [ 4, 5 ],
						[ 5, 17 ], [ 6, 6 ], [ 7, 10 ], [ 8, 7 ], [ 9, 11 ],
						[ 10, 35 ], [ 11, 9 ], [ 12, 12 ], [ 13, 5 ],
						[ 14, 3 ], [ 15, 4 ], [ 16, 9 ] ];

				//flot options
				var options = {
					series : {
						curvedLines : {
							apply : true,
							active : true,
							monotonicFit : true
						}
					},
					colors : [ "#26B99A" ],
					grid : {
						borderWidth : {
							top : 0,
							right : 0,
							bottom : 1,
							left : 1
						},
						borderColor : {
							bottom : "#7F8790",
							left : "#7F8790"
						}
					}
				};
				var plot = $.plot($("#placeholder3xx3"), [ {
					label : "Registrations",
					data : d1,
					lines : {
						fillColor : "rgba(150, 202, 89, 0.12)"
					}, //#96CA59 rgba(150, 202, 89, 0.42)
					points : {
						fillColor : "#fff"
					}
				} ], options);

				var plot2 = $.plot($("#graph_bar"), [ {
					label : "Registrations1",
					data : d1,
					lines : {
						fillColor : "rgba(150, 202, 89, 0.12)"
					}, //#96CA59 rgba(150, 202, 89, 0.42)
					points : {
						fillColor : "#fff"
					}
				} ], options);
			});
</script>
<script
	src="${rc.contextPath}/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script
	src="${rc.contextPath}/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script
	src="${rc.contextPath}/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script
	src="${rc.contextPath}/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script
	src="${rc.contextPath}/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script
	src="${rc.contextPath}/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script
	src="${rc.contextPath}/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var malltableButton = function() {
			if ($("#malltable").length) {
				$("#malltable").DataTable({
					dom : "Bfrtip",
					buttons : [ {
						extend : "excel",
						className : "btn-sm"
					} ],
					responsive : true
				});
			}
		};

		var floortableButton = function() {
			if ($("#floortable").length) {
				$("#floortable").DataTable({
					dom : "Bfrtip",
					buttons : [ {
						extend : "excel",
						className : "btn-sm"
					} ],
					responsive : true
				});
			}
		};

		TableManageButtons = function() {
			"use strict";
			return {
				init : function() {
					malltableButton();
					floortableButton();
				}
			};
		}();

		TableManageButtons.init();
	});
</script>
<script src="${rc.contextPath}/static/vendors/moment/min/moment.min.js"></script>
<script
	src="${rc.contextPath}/static/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript">
<!--
	$(document)
			.ready(
					function() {

						var cb = function(start, end, label) {
							console.log(start.toISOString(), end.toISOString(),
									label);
							$('#reportrange span').html(
									start.format('MMMM D, YYYY') + ' - '
											+ end.format('MMMM D, YYYY'));
						};

						var optionSet1 = {
							startDate : moment().subtract(29, 'days'),
							endDate : moment(),
							minDate : '01/01/2012',
							maxDate : '12/31/2015',
							dateLimit : {
								days : 60
							},
							showDropdowns : true,
							showWeekNumbers : true,
							timePicker : false,
							timePickerIncrement : 1,
							timePicker12Hour : true,
							ranges : {
								'Today' : [ moment(), moment() ],
								'Yesterday' : [ moment().subtract(1, 'days'),
										moment().subtract(1, 'days') ],
								'Last 7 Days' : [ moment().subtract(6, 'days'),
										moment() ],
								'Last 30 Days' : [
										moment().subtract(29, 'days'), moment() ],
								'This Month' : [ moment().startOf('month'),
										moment().endOf('month') ],
								'Last Month' : [
										moment().subtract(1, 'month').startOf(
												'month'),
										moment().subtract(1, 'month').endOf(
												'month') ]
							},
							opens : 'left',
							buttonClasses : [ 'btn btn-default' ],
							applyClass : 'btn-small btn-primary',
							cancelClass : 'btn-small',
							format : 'MM/DD/YYYY',
							separator : ' to ',
							locale : {
								applyLabel : 'Submit',
								cancelLabel : 'Clear',
								fromLabel : 'From',
								toLabel : 'To',
								customRangeLabel : 'Custom',
								daysOfWeek : [ 'Su', 'Mo', 'Tu', 'We', 'Th',
										'Fr', 'Sa' ],
								monthNames : [ 'January', 'February', 'March',
										'April', 'May', 'June', 'July',
										'August', 'September', 'October',
										'November', 'December' ],
								firstDay : 1
							}
						};
						$('#reportrange span').html(
								moment().subtract(29, 'days').format(
										'MMMM D, YYYY')
										+ ' - '
										+ moment().format('MMMM D, YYYY'));
						$('#reportrange').daterangepicker(optionSet1, cb);
						$('#reportrange').on('show.daterangepicker',
								function() {
									console.log("show event fired");
								});
						$('#reportrange').on('hide.daterangepicker',
								function() {
									console.log("hide event fired");
								});
						$('#reportrange')
								.on(
										'apply.daterangepicker',
										function(ev, picker) {
											console
													.log("apply event fired, start/end dates are "
															+ picker.startDate
																	.format('MMMM D, YYYY')
															+ " to "
															+ picker.endDate
																	.format('MMMM D, YYYY'));
										});
						$('#reportrange').on('cancel.daterangepicker',
								function(ev, picker) {
									console.log("cancel event fired");
								});
						$('#options1').click(
								function() {
									$('#reportrange').data('daterangepicker')
											.setOptions(optionSet1, cb);
								});
						$('#options2').click(
								function() {
									$('#reportrange').data('daterangepicker')
											.setOptions(optionSet2, cb);
								});
						$('#destroy').click(function() {
							$('#reportrange').data('daterangepicker').remove();
						});
					});
//-->
</script>
<script src="${rc.contextPath}/static/vendors/raphael/raphael.min.js"></script>
<script src="${rc.contextPath}/static/vendors/morris.js/morris.min.js"></script>
<!-- bootstrap-progressbar -->
<!-- morris.js -->
<script>
<!--
	$(function() {
		Morris.Bar({
			element : 'graph_bar1',
			data : [ {
				"period" : "Jan",
				"Hours worked" : 80
			}, {
				"period" : "Feb",
				"Hours worked" : 125
			}, {
				"period" : "Mar",
				"Hours worked" : 176
			}, {
				"period" : "Apr",
				"Hours worked" : 224
			}, {
				"period" : "May",
				"Hours worked" : 265
			}, {
				"period" : "Jun",
				"Hours worked" : 314
			}, {
				"period" : "Jul",
				"Hours worked" : 347
			}, {
				"period" : "Aug",
				"Hours worked" : 287
			}, {
				"period" : "Sep",
				"Hours worked" : 240
			}, {
				"period" : "Oct",
				"Hours worked" : 211
			} ],
			xkey : 'period',
			hideHover : 'auto',
			barColors : [ '#26B99A', '#34495E', '#ACADAC', '#3498DB' ],
			ykeys : [ 'Hours worked', 'sorned' ],
			labels : [ 'Hours worked', 'SORN' ],
			xLabelAngle : 60,
			resize : true
		});
		Morris.Bar({
			element : 'graph_bar2',
			data : [ {
				"period" : "Jan",
				"Hours worked" : 80
			}, {
				"period" : "Feb",
				"Hours worked" : 125
			}, {
				"period" : "Mar",
				"Hours worked" : 176
			}, {
				"period" : "Apr",
				"Hours worked" : 224
			}, {
				"period" : "May",
				"Hours worked" : 265
			}, {
				"period" : "Jun",
				"Hours worked" : 314
			}, {
				"period" : "Jul",
				"Hours worked" : 347
			}, {
				"period" : "Aug",
				"Hours worked" : 287
			}, {
				"period" : "Sep",
				"Hours worked" : 240
			}, {
				"period" : "Oct",
				"Hours worked" : 211
			} ],
			xkey : 'period',
			hideHover : 'auto',
			barColors : [ '#26B99A', '#34495E', '#ACADAC', '#3498DB' ],
			ykeys : [ 'Hours worked', 'sorned' ],
			labels : [ 'Hours worked', 'SORN' ],
			xLabelAngle : 60,
			resize : true
		});
		Morris.Bar({
			element : 'graph_bar3',
			data : [ {
				"period" : "Jan",
				"Hours worked" : 80
			}, {
				"period" : "Feb",
				"Hours worked" : 125
			}, {
				"period" : "Mar",
				"Hours worked" : 176
			}, {
				"period" : "Apr",
				"Hours worked" : 224
			}, {
				"period" : "May",
				"Hours worked" : 265
			}, {
				"period" : "Jun",
				"Hours worked" : 314
			}, {
				"period" : "Jul",
				"Hours worked" : 347
			}, {
				"period" : "Aug",
				"Hours worked" : 287
			}, {
				"period" : "Sep",
				"Hours worked" : 240
			}, {
				"period" : "Oct",
				"Hours worked" : 211
			} ],
			xkey : 'period',
			hideHover : 'auto',
			barColors : [ '#26B99A', '#34495E', '#ACADAC', '#3498DB' ],
			ykeys : [ 'Hours worked', 'sorned' ],
			labels : [ 'Hours worked', 'SORN' ],
			xLabelAngle : 60,
			resize : true
		});
		Morris.Bar({
			element : 'graph_bar4',
			data : [ {
				"period" : "Jan",
				"Hours worked" : 80
			}, {
				"period" : "Feb",
				"Hours worked" : 125
			}, {
				"period" : "Mar",
				"Hours worked" : 176
			}, {
				"period" : "Apr",
				"Hours worked" : 224
			}, {
				"period" : "May",
				"Hours worked" : 265
			}, {
				"period" : "Jun",
				"Hours worked" : 314
			}, {
				"period" : "Jul",
				"Hours worked" : 347
			}, {
				"period" : "Aug",
				"Hours worked" : 287
			}, {
				"period" : "Sep",
				"Hours worked" : 240
			}, {
				"period" : "Oct",
				"Hours worked" : 211
			} ],
			xkey : 'period',
			hideHover : 'auto',
			barColors : [ '#26B99A', '#34495E', '#ACADAC', '#3498DB' ],
			ykeys : [ 'Hours worked', 'sorned' ],
			labels : [ 'Hours worked', 'SORN' ],
			xLabelAngle : 60,
			resize : true
		});
		Morris.Bar({
			element : 'graph_bar5',
			data : [ {
				"period" : "Jan",
				"Hours worked" : 80
			}, {
				"period" : "Feb",
				"Hours worked" : 125
			}, {
				"period" : "Mar",
				"Hours worked" : 176
			}, {
				"period" : "Apr",
				"Hours worked" : 224
			}, {
				"period" : "May",
				"Hours worked" : 265
			}, {
				"period" : "Jun",
				"Hours worked" : 314
			}, {
				"period" : "Jul",
				"Hours worked" : 347
			}, {
				"period" : "Aug",
				"Hours worked" : 287
			}, {
				"period" : "Sep",
				"Hours worked" : 240
			}, {
				"period" : "Oct",
				"Hours worked" : 211
			} ],
			xkey : 'period',
			hideHover : 'auto',
			barColors : [ '#26B99A', '#34495E', '#ACADAC', '#3498DB' ],
			ykeys : [ 'Hours worked', 'sorned' ],
			labels : [ 'Hours worked', 'SORN' ],
			xLabelAngle : 60,
			resize : true
		});
	});
//-->
</script>
<!-- /morris.js -->