#set($layout="layout/main.vm")
<link href="${rc.contextPath}/static/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<link href="${rc.contextPath}/static/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- top tiles -->
<div class="row tile_count">
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-rmb"></i> 本年累计销售（万元）</span>
		<div class="count">$!{yearSales}</div>
		<span class="count_bottom"><i class="green">完成指标4% </i></span>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-rmb"></i> 本月累计销售（万元）</span>
		<div class="count">$!{monthSales}</div>
		<span class="count_bottom"><i class="green">完成指标3% </i></span>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-rmb"></i> 昨日广场销售（万元）</span>
		<div class="count green">$!{yesterdaySales}</div>
		<span class="count_bottom"><i class="green"><i
				class="fa fa-sort-asc"></i>同比去年34% </i> </span>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-user"></i> 本年累计客流（万人）</span>
		<div class="count">$!{yearCustomers}</div>
		<span class="count_bottom"><i class="red">12% </i> From last Week</span>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-user"></i> 本月累计客流（万人）</span>
		<div class="count">$!{monthCustomers}</div>
		<span class="count_bottom"><i class="green">34% </i> From last Week</span>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-user"></i> 昨日广场客流（万人）</span>
		<div class="count">$!{yesterdayCustomers}</div>
		<span class="count_bottom"><i class="green"><i
				class="fa fa-sort-asc"></i>34% </i> From last Week</span>
	</div>
</div>


<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="dashboard_graph">

			<div class="row x_title">
				<div class="col-md-6">
					<h3>
						$!{mall.proName} 广场经营走势图 <small>【截止昨日】</small>
					</h3>
				</div>
			</div>

			<div class="col-md-9 col-sm-9 col-xs-12">
				<div id="placeholder33" style="height: 260px; display: none"
					class="demo-placeholder"></div>
				<div style="width: 100%;">
					<div id="canvas_dahs" class="demo-placeholder"
						style="width: 100%; height: 270px;"></div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12 bg-white">
				<div class="x_title">
					<h2>昨日各业态销售合计</h2>
					<div class="clearfix"></div>
				</div>

				<div class="col-md-12 col-sm-12 col-xs-6">
					#foreach( $elem in $achievements)
					<div>
						<p>$!{elem.tradeName}：$!{elem.salesAmount}万</p>
						<div class="">
							<div class="progress progress_sm" style="width: 76%;">
								<div class="progress-bar bg-green" role="progressbar"
									data-transitiongoal="$!{elem.salesPercentage}"></div>
							</div>
						</div>
					</div>
					#end
				</div>

			</div>

			<div class="clearfix"></div>
		</div>
	</div>

</div>
<script>
      $(document).ready(function() {
      	$.post("${rc.contextPath}/main/customer_volume",
      	function(data, status) {
			if(data!=null){
				var data1=new Array();
				for(var i=0;i<data.length;i++){
					var testData=new Object();
					testData.datetime=data[i].salesDate;
					testData.value=data[i].customerVolume;
					data1.push(testData);
				}
				Morris.Line({
		          element: 'canvas_dahs',
		          xkey: 'datetime',
		          ykeys: ['value'],
		          xLabels:'day',
		          hideHover: 'auto',
		          lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
		          data: data1,
		          resize: true
		        });
		       
			}
		});
      });
    </script>

    <!-- bootstrap-progressbar -->
    <script src="${rc.contextPath}/static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- gauge.js -->
    <script src="${rc.contextPath}/static/vendors/gauge.js/dist/gauge.min.js"></script>
        <!-- iCheck -->
    <script src="${rc.contextPath}/static/vendors/iCheck/icheck.min.js"></script>
    

    <script src="${rc.contextPath}/static/vendors/raphael/raphael.min.js"></script>
    <script src="${rc.contextPath}/static/vendors/morris.js/morris.min.js"></script>
    
