<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>商场管理系统</title>

<!-- Bootstrap -->
<link
	href="${rc.contextPath}/static/vendors/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet">
<!-- Font Awesome -->
<link
	href="${rc.contextPath}/static/vendors/font-awesome/css/font-awesome.min.css"
	rel="stylesheet">
<!-- NProgress -->
<link href="${rc.contextPath}/static/vendors/nprogress/nprogress.css"
	rel="stylesheet">

<!-- Custom Theme Style -->
<link href="${rc.contextPath}/static/vendors/custom.min.css"
	rel="stylesheet">
<!-- jQuery -->
<script type="text/javascript"
	src="${rc.contextPath}/static/js/jquery.min.js"></script>
	<script
	src="${rc.contextPath}/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Bootstrap -->

</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						<a href="${rc.contextPath}/main/init" class="site_title"><i class="fa fa-paw"></i>
							<span>商场管理系统</span></a>
					</div>

					<div class="clearfix"></div>

					<!-- menu profile quick info -->
					<div class="profile">
						<div class="profile_pic">
							<img src="${rc.contextPath}/static/images/img.jpg" alt="..."
								class="img-circle profile_img">
						</div>
						<div class="profile_info">
							<span>Welcome,</span>
							<h2>$!{currentUser.personName}</h2>
						</div>
					</div>
					<!-- /menu profile quick info -->

					<br />

					<!-- sidebar menu -->
					<div id="sidebar-menu"
						class="main_menu_side hidden-print main_menu">
						<div class="menu_section">
							<h3>General12</h3>
							<ul class="nav side-menu">
								<li><a><i class="fa fa-home"></i> 数据录入 <span
										class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a
											href="${rc.contextPath}/data_enter/daily_data_enter_init">单日数据录入</a></li>
										<li><a href="${rc.contextPath}/data_enter/monthly_data_enter_init">月度数据录入</a></li>
										<li><a href="${rc.contextPath}/data_enter/yearly_data_enter_init">年度数据录入</a></li>
										<li><a href="${rc.contextPath}/data_enter/target_data_enter_init">指标数据录入</a></li>
									</ul></li>
								<li><a><i class="fa fa-home"></i> 数据导入 <span
										class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a
											href="${rc.contextPath}/data_import/daily_data_import_init">单日数据导入
										</a></li>
										<li><a href="${rc.contextPath}/data_import/monthly_data_import_init">月度数据导入 </a></li>
										<li><a href="${rc.contextPath}/data_import/yearly_data_import_init">年度数据导入 </a></li>
									</ul></li>
								<li><a><i class="fa fa-desktop"></i> 数据查询 <span
										class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a
													href="${rc.contextPath}/base_data/basic_query_init">基础数据查询</a>
												</li>
												<li><a
													href="${rc.contextPath}/data_query/single_brand_query_init">单品牌查询</a>
												</li>
												<li><a
													href="${rc.contextPath}/data_query/multiple_brand_query_init">多品牌查询</a>
												</li>
									</ul></li>
								<li><a><i class="fa fa-edit"></i> 经营分析<span
										class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a href="${rc.contextPath}/data_analysis/daily_analysis_init">日报分析</a></li>
										<li><a href="${rc.contextPath}/data_analysis/weekly_analysis_init">周报分析</a></li>
										<li><a href="${rc.contextPath}/data_analysis/monthly_analysis_init">月报分析</a></li>
										<li><a href="${rc.contextPath}/data_analysis/yearly_analysis_init">年报分析</a></li>
									</ul></li>
								<li><a><i class="fa fa-table"></i>管理员功能<span
										class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a>项目基础数据维护<span class="fa fa-chevron-down"></span></a>
											<ul class="nav child_menu">
												<li><a
													href="${rc.contextPath}/base_data/project_data_init">项目基础数据</a>
												</li>
												<li><a
													href="${rc.contextPath}/base_data/brand_data_init">品牌维护</a>
												</li>
												<li><a
													href="${rc.contextPath}/base_data/floor_data_init">楼层维护</a>
												</li>
												<li><a href="#level2_2">商户维护</a></li>
												<li><a
													href="${rc.contextPath}/base_data/trade_data_init">业态维护</a>
												</li>
											</ul></li>
										<li><a href="${rc.contextPath}/base_data/user_data_init">用户维护</a></li>
										<li><a href="${rc.contextPath}/base_data/authority_data_init">权限维护</a></li>
									</ul></li>
							</ul>
						</div>
					</div>
					<!-- /sidebar menu -->

					<!-- /menu footer buttons -->
					<div class="sidebar-footer hidden-small">
						<a data-toggle="tooltip" data-placement="top" title="Settings">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</a> <a data-toggle="tooltip" data-placement="top" title="FullScreen">
							<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
						</a> <a data-toggle="tooltip" data-placement="top" title="Lock"> <span
							class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
						</a> <a data-toggle="tooltip" data-placement="top" title="Logout">
							<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
						</a>
					</div>
					<!-- /menu footer buttons -->
				</div>
			</div>

			<!-- top navigation -->
			<div class="top_nav">
				<div class="nav_menu">
					<nav>
						<div class="nav toggle">
							<a id="menu_toggle"><i class="fa fa-bars"></i></a>
						</div>
						<ul class="nav navbar-nav navbar-left">
						<li><a id="menu_toggle">当前时间：$!dateTool.format('yyyy-MM-dd HH:mm:ss ',$!{currentDate})</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class=""><a href="javascript:;"
								class="user-profile dropdown-toggle" data-toggle="dropdown"
								aria-expanded="false"> <img
									src="${rc.contextPath}/static/images/img.jpg" alt="">$!{currentUser.personName} <span
									class=" fa fa-angle-down"></span>
							</a>
								<ul class="dropdown-menu dropdown-usermenu pull-right">
									<li><a href="javascript:;"> Profile11</a></li>
									<li><a href="javascript:;"> <span
											class="badge bg-red pull-right">50%</span> <span>Settings22</span>
									</a></li>
									<li><a href="javascript:;">Help33</a></li>
									<li><a href="login.html"><i
											class="fa fa-sign-out pull-right"></i> Log Out44</a></li>
								</ul></li>
							<li><a id="menu_toggle">截止今天、本项目已经开业$!{openDays}天 </a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">$screen_content</div>
			<!-- /page content -->

			<!-- footer content -->
			<footer>
				<div class="pull-right">
					Gentelella - Bootstrap Admin Template by <a
						href="https://colorlib.com">Colorlib</a>
				</div>
				<div class="clearfix"></div>
			</footer>
			<!-- /footer content -->
		</div>
	</div>

<!-- NProgress -->
<script src="${rc.contextPath}/static/vendors/nprogress/nprogress.js"></script>

<!-- Custom Theme Scripts -->
<script src="${rc.contextPath}/static/vendors/custom.min.js"></script>
	<!-- FastClick -->
	<script
		src="${rc.contextPath}/static/vendors/fastclick/lib/fastclick.js"></script>

</body>
</html>
